<app-navbar></app-navbar>
<div class="p-6 z-20">
  <div class="flex items-start justify-between w-full p-3">
    <span class="text-3xl"> Movies </span>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="addMovie()"
    >
      Add Movie
    </button>
  </div>
  <table
    class="min-w-full leading-normal bg-white shadow-md rounded-lg overflow-hidden"
  >
    <thead>
      <tr class="bg-gray-100 text-left">
        <th
          class="px-5 py-3 border-b-2 border-gray-200 text-gray-600 text-sm uppercase font-semibold"
        >
          Name
        </th>

        <th
          class="px-5 py-3 border-b-2 border-gray-200 text-gray-600 text-sm uppercase font-semibold flex items-center justify-center"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td class="px-5 py-5 border-b border-gray-200 text-sm">{{movie.name}}</td>
        <td
          class="px-5 py-5 border-b border-gray-200 text-sm flex items-center justify-center gap-3"
        >
          <button
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
            (click)="addMovie()"
          >
            Update Movie
          </button>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="deleteMovie(movie._id)"
          >
            Delete Movie
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="p-6 z-20">
  <div class="flex items-start justify-between w-full p-3">
    <span class="text-3xl"> Schedules </span>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="addSchedule()"
    >
      Add Schedule
    </button>
  </div>
  <table
    class="min-w-full leading-normal bg-white shadow-md rounded-lg overflow-hidden"
  >
    <thead>
      <tr class="bg-gray-100 text-left">
        <th
          class="px-5 py-3 border-b-2 border-gray-200 text-gray-600 text-sm uppercase font-semibold"
        >
          Name
        </th>

        <th
          class="px-5 py-3 border-b-2 border-gray-200 text-gray-600 text-sm uppercase font-semibold flex items-center justify-center"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Schedule of schedules">
        <td class="px-5 py-5 border-b border-gray-200 text-sm">{{Schedule.start_time}}</td>
        <td
          class="px-5 py-5 border-b border-gray-200 text-sm flex items-center justify-center gap-3"
        >
          <button
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
            (click)="addSchedule()"
          >
            Update Schedule
          </button>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="addSchedule()"
          >
            Delete Schedule
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
